Package: com.chronix.kerntool
Name: kerntool
Depends: firmware (>= 11.0)
Version: 0.6
Architecture: iphoneos-arm
Description: Reads various files dropped by unc0ver that provide some useful information like the kernel slide.
Maintainer: Chronix
Author: Chronix
Section: System
Tag: role::hacker
Depiction: https://akachronix.github.io/repo/depictions/?p=com.chronix.kerntool
SileoDepiction: https://akachronix.github.io/repo/depictions/com.chronix.kerntool/SileoDepiction
